#navigator {
    width: 100%;
    padding: 0;
    height: 14px;
    z-index: 999;
}
#navigator a {
    display: inline-block;
    width: 10px;
    height: 10px;
    text-indent: -999em;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 1px 1px #707173;
    margin-right: 15px;
}
#navigator a.hiddenPage {
    background: #c0c0c0;
}
#navigator a.activePage {
    box-shadow: 0 0 4px 2px #808080;
    background: #ff8000;
}
#navigator a.checkedPage {
    background: #00ff00;
}

#qText {
    border: 3px solid grey;
    border-radius: 10px;
    padding: 7px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
    font-weight: bold;
    color: #000000;
    background-color: #dddddd;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 5px;
}

#qText span.inactive {
    color: #7f7f7f;
}

span.pollStatus {
    color: green;
    font-size: .7em;
    font-weight: bold;
    position: relative;
    top: -5px;
}
